
/* On mouse hover, lighten district color */
path:hover {
	fill-opacity: .7;
}

/* Style for tooltip */
#tooltip { 
    position: absolute;     
    text-align: center;     
    width: 160px;          
    height: 100px;
    opacity: .5;
    rx: 10px;
    ry: 10px;         
    fill: #EA6036; 
    box-shadow: 0 0 2px 2px;
}

#caption {
    text-anchor: middle;
    font: 12px sans-serif; 
}
        
/* Legend Font Style */
body {
	font: 11px sans-serif;
}